* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/****************** STRUTTURA HEADER *********************/
header {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1.2rem;
    background-image: url(./img/jumbo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 900px;

}

header ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 1rem;
}

ul li a {
    text-decoration: none;
    color: white;
}

.login {
    /* text-align: right; */
    color: black;
    border: none;
    border-radius: 15px;
    background-color: white;
    padding: 0.7em;
    font-size: 13px;
}

.container .jumbo-block {
    width: 650px;
    /* height: 350px; */
    color: white;
    text-align: center;
    padding: 4rem 6rem;
}

.jumbo-block h1 {
    font-size: 2.6rem;
}

.jumbo-block p {
    margin-top: 1.5rem;
    line-height: 1.5rem;
    font-size: 0.8rem;
}

.btn-size {
    padding: 0.8em 1.5em;
    border-radius: 20px;
    border: none;
    margin-top: 1.1rem;
}

.mac {
    background-color: white;
    color: black;
    margin-right: 0.8rem;
}

.open-browser {
    background-color: black;
    color: white;
}

/***************** STRUTTURA MAIN ********************/

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}


.padd {
    padding: 2.7rem 0;
    gap: 5rem;
}


.big-block {
    width: 550px;
    /* height: 400px; */
}

.big-block img {
    width: 100%;
}

.small-block {
    width: 350px;
    /* height: 400px; */
    text-align: left;
    padding: 0 1.8rem;
    padding-top: 1.45rem;
}

.bg-grey {
    background-color: #f6f6f6;
    /* background-image: url(./img/wave.svg); */
    background-size: contain;
}

.h2-size {
    font-size: 2.5rem;
}

.generic-lh-p {
    line-height: 1.6rem;
    padding-top: 1.5rem;
}
.mac-2{
    color: white;
    background-color: #8ea1e2;
}

.bigger-block {
    width: 900px;
    text-align: center;

}
.bigger-block h3{
    background-image: url(./img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 1.6rem;
    display: inline;
}

.bg-dark {
    background-color: rgb(26, 26, 26);
    padding-bottom: 2.5rem;
    padding-top: 0.5rem;
}

.col-big {
    width: 300px;
    height: 400px;
    background-color: red;
}

.col-small {
    width: 150px;
    height: 400px;
    background-color: rgb(11, 165, 165);
    border-color: white;
}

/***************** STRUTTURA FOOTER ********************/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(26, 26, 26);
}

hr {
    width: 100%;
}

.footer-down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 255, 174);
    width: 900px;
    margin-top: 1.5rem;
}

.logo-footer,
.button-footer {
    margin: 1rem 0;
    background-color: rgb(241, 124, 124);
    border: 2px dashed black;
}

.logo-footer {
    padding: 0.2rem 0.5rem;

}

.button-footer {
    padding: 0.2em 0.5em;
    font-size: 16px;

}