* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/****************** STRUTTURA HEADER *********************/
header {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1.2rem;
    background-image: url(./img/jumbo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 900px;

}

.container .jumbo-block {
    width: 650px;
    height: 350px;
    background-color: rgb(204, 166, 240);
    border-radius: 5px;
}

header ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 1rem;
}

header span {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: white;
}

.login {
    /* text-align: right; */
    color: black;
    border: none;
    border-radius: 15px;
    background-color: white;
    padding: 0.7em;
    font-size: 13px;
}

header ul{
    padding: 0.4rem;
}

/***************** STRUTTURA MAIN ********************/

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* .border {
    border: 2px dashed black;
} */



.bg-white {
    background-color: white;
    padding: 2.5rem 0;
}


.big-block {
    width: 550px;
    height: 400px;
    background-color: rgb(25, 165, 224);
}

.small-block {
    width: 350px;
    height: 400px;
    background-color: pink;
}

.bg-grey {
    background-color: rgb(189, 186, 186);
    padding: 2.5rem;
}

.bigger-block {
    width: 900px;
    height: 750px;
    background-color: green;
}

.bg-dark {
    background-color: rgb(26, 26, 26);
    padding-bottom: 2.5rem;
    padding-top: 0.5rem;
}

.col-big {
    width: 300px;
    height: 400px;
    background-color: red;
}

.col-small {
    width: 150px;
    height: 400px;
    background-color: rgb(11, 165, 165);
    border-color: white;
}

/***************** STRUTTURA FOOTER ********************/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(26, 26, 26);
}

hr {
    width: 100%;
}

.footer-down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 255, 174);
    width: 900px;
    margin-top: 1.5rem;
}

.logo-footer,
.button-footer {
    margin: 1rem 0;
    background-color: rgb(241, 124, 124);
    border: 2px dashed black;
}

.logo-footer {
    padding: 0.2rem 0.5rem;

}

.button-footer {
    padding: 0.2em 0.5em;
    font-size: 16px;

}